html{
    font-family: "Roboto Slab", "Halvenetica", "Verdana", "Ariel" ;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}
a:active{
    transform: scale(1.1);
}



.header-outer-container{
    box-shadow: 0 0 100px 5px #000 inset;
    background-size: 100%;
}

.header-container{
    background: rgba(15, 15, 20, 0.7);
    height: 50rem;
}
.header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.menuitem{
    list-style: none;
    color: orangered;
    font-size: 20px;
    text-decoration: none;
    padding: 1.3rem;
    display: inline-flex;
    justify-content: center;
}
.menuitem:hover{
    text-decoration: underline;
}
.episode-container{
    display: flex;
    justify-content: center;
    color: white;
    height: inherit;
}
.episode-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0rem
}
.episode-info{
    margin: 0 10px;
    max-width: 80rem;
    max-height: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.episodes-list{
    max-width: 1100px;
    margin: auto;
    border-left: transparent solid 10px;
    border-right: transparent solid 10px;
}

.episodes-list-container{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episodes-list-item{
    width: 220px;
    height: 220px;
    padding: 5px;
    margin: 10px;
    background: rgba(255,255,255,0.05);
}

.episodes-list-item:hover{
    background: rgba(255,255,255,0.1);
}

.small-title{
    font-size: 18px;
    margin-bottom: 5px;
}
.small-date{
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 5px;
}
.small-description{
    font-size: 13px;
    color: rgba(255,255,255,0.8);
}

h2 {
    font-size: 32px;
    margin: 10px;
}

h3 {
    font-size: 26px;
}
.player-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.player{
    width: 80%;
}
.share-buttons{
    margin-left: 20px;
    height: 80px;
    width: 24rem;
}
.other-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.header nav{
    margin: 0;
}

a.button{
    border-radius: 28px;
    font-size: 20px;
    background: rgba(230, 74, 25, 0.7);
    padding: 5px 15px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
a.button:hover {
    background: rgb(230, 74, 25);
    text-decoration: none;
}
a.button:active{
    transform: scale(1.1);
}

body{
    margin: 0 auto;
    background: rgb(15, 15, 20);
}

.test{
    margin: auto;
}

@media handheld, only screen  and (max-width: 750px) {
    .episode-row{
        flex-direction: column;
        font-size: 16px;
    }
    .episode-date{
        margin: 5px;
    }
    .share-buttons{
        margin: 10px;
        height: auto;
        width: auto;
    }
    .header-outer-container{
        background-size: contain;
    }
    .menuitem{
        padding: 10px;
        font-size: 16px;
    }
    h2{
        font-size: 22px;
    }
}